#body{
    background-image:url(https://lh5.googleusercontent.com/proxy/xvtq6_782kBajCBr0GISHpujOb51XLKUeEOJ2lLPKh12-xNBTCtsoHT14NQcaH9l4JhatcXEMBkqgUeCWhb3XhdLnD1BiNzQ_LVydwg=w3840-h2160-p-k-no-nd-mv);
    background-size: cover;
    background-attachment:scroll;
    background-repeat: repeat;
}
h1 {
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 4em;
    text-align: center;
    color: antiquewhite;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:0;
}
form {
    display: grid;
    border: 2px solid black;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color:transparent;
    width:500px;
    border-radius: 25px;
    box-shadow:0 0 20px 2px white;
}
.ia {
    background-color: transparent;
    width: fit-content;
    padding: 10px;
    margin: 10px;
    color: grey;
    margin-left: auto;
    margin-right: auto;
    border: inset;
    border-radius: 15px;
    margin-top: 50px;
    text-align:center;
    
}
.ib {
    background-color: transparent;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border:dashed white;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-weight:thin;
    font-size: larger;
    font-family: sans-serif;
    color:white;
}

.ib:hover {
    color:black;
    background-color: white;
}
cite {
    margin-top: 500px;
    color:white;
    text-align: right;
    display: inherit;
}

