* {
    box-sizing: border-box;
    
}

html {
    background-image: url("bg.jpg");
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: top;
        margin:auto ;
}
body {
    margin: auto;
}
h1 {
    font-family: "geist mono";
    font-size: 4em;
    text-align: center;
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    font-weight: 100;
    
}
#main {
    border: 2px solid black;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    width: 500px;
    border-radius: 25px;
    box-shadow: 0 0 20px 5px;
    overflow: clip;
}
form {
    display: grid;
}
.ia {
    background-color: transparent;
    width: fit-content;
    padding: 13px;
    margin: 10px;
    color: grey;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-top: 50px;
    text-align: center;
    border: 1px inset white;
}
.ib {
    background-color: transparent;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px dashed white;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-weight: thin;
    font-size: larger;
    font-family: "geist mono", monospace;
    color: white;
}

.ib:hover {
    color: black;
    background-color: white;
    transition-duration: 0.5s;
}
cite {
    margin-top: 10px;
    color: lightgrey;
    text-align: center;
    display: inherit;
    font-size: smaller;
    font-family: monospace;
    
}
.qr-container {
    margin-top: 20px;
    text-align: center;
}

img {
    border-radius: 15px; /* Rounded corners for QR Code */
}

/* Progress bar styling */
#progressContainer {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    height: 3px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px;
}

#progressBar {
    height: 100%;
    width: 0;
    background-color: #03ff34;
    border-radius: 5px;
}
#result {
    /*color: red;*/
    text-align: center;
    font-family: "geist mono", monospace;
    /*background-color: antiquewhite;*/
    /*font-size: 2vh;*/
}

@media screen and (max-width: 500px) {
    #main,
    .ia,
    .ib {
        width: 80%;
    }
    h1 {
        font-size: 2.5em;
    }
    #main {
        margin-top: 60px;
    }
    cite {
        font-size: smaller;
    }
    .ib {
        margin-top: 50px;
    }
    .fanchor, .a {
        display: block !important;
    }
}
footer{
    background-color: rgba(255, 255, 255, 0.11);
    margin-top: 200px;
    padding: 15px;
}

    ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}
    .fanchor, .a {
    color: lightgrey;
    display: inline-block;
    float: none;
    text-align: center;
    box-sizing: border-box;
    padding: 0.32em;
    text-decoration: none;
    font-family: "geist mono", monospace;
    font-size: smaller;
    margin-left: 15px;
    margin-right: 15px;
        outline: none;
}
.a :hover {
    color: grey;
    transition-duration: 0.3s;
}
.a:focus {
    outline: none;
}