* {
    box-sizing: border-box;

}
header {
    background-image: linear-gradient(to bottom left, #E3F2FD 10% ,white 50%);
    
}
#logos:hover {
    box-shadow: none !important;
}
@media (min-width: 768px) {
    .g-md-24, .gx-md-24 {
        --x-gutter-x: unset !important;
    }
}
@media (max-width: 768px) {
.g-16, .gx-16 {
     --x-gutter-x: unset !important; 
}
    h5 {
        margin-top: 1rem !important;
    }
}
.footer {
            background-color: #212529;
            color: #adb5bd;
            padding: 40px 0;
        }
        .footer h5 {
            color: #ffffff;
            font-weight: bold;
            padding-bottom: 10px
        }


        .footer-links a {
            color: #adb5bd;
            text-decoration: none;
            margin-bottom: 10px;
            display: block;
            transition: color 0.3s;
        }
        .footer-links a:hover {
            color: #0d6efd;
        }
        .social-icons a {
            color: #adb5bd;
            margin: 0 10px;
            font-size: 1.5rem;
            transition: color 0.3s;
        }
        .social-icons a:hover {
            color: #0d6efd;
        }
.d-flex {
    margin-top: 15px;
}
        .newsletter-input {
            border: none;
            border-radius: 30px;
            padding: 16px 20px;
            margin-right: 10px;
            width: 70%;
            max-width: 300px;
            
        }
        .btn-subscribe {
            border-radius: 30px;
            padding: 10px 20px;
        }
        .footer-bottom {
            border-top: 1px solid #343a40;
            padding: 20px 0;
            text-align: center;
            color: #adb5bd;
        }
